* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body {
    height: 100vh;
    display: flex;
    background-color: #c3c3c3;
}

.game{
    width: 100%;
}

.grid-container{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 10%;
    display: grid;
    grid-template-columns:  auto auto auto auto;
    //flex-wrap: wrap;
    transition-duration: 1s;
    perspective: 1000px;
    background-color: #c0c0c0;
}

.memory-card {
    width: 90%;
    height: 90%;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 1.2s;
    
}

.memory-card:active {
    transform: scale(1.5);
    transition: transform 1.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.back-face{
    height: 100%;
    width: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    background: #5c9ead;
    box-shadow: 4px 4px #326273;
    border: 2px solid #326273;
    backface-visibility: hidden;
    
}
.front-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 4px #326273;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
